### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml


# env
.env

# node_modules
node_modules
**/node_modules
**/node_modules/**

.idea/*
.vscode/*

__pycache__/

src/__pycache__/** */
src/config/** */


# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.jest
.vs
.cache
.next
out
.DS_Store
*.pem
*.key
*.crt
*.p12
*.pfx
*.cer
*.der
*.class
*.war
*.jar
*.iml
*.swp

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.*.development.local
.env.*.test.local
.env.*.production.local
.env.*.staging.local
.env.staging.local
.env.production
.env.development

pyproject.toml
setup.py

run.sh
wrool-ai-development.yaml

test/*__init__.py
test/unit/*__init__.py
src/wrool_ai/__pycache__/
src/wrool_ai/config/** */
src/wrool_ai/*__init__.py

.text
requirements.txt

Dotenv
.venv
.idea_backup/
